# Normalize non-taxa fields

Normalize the final list of non-taxa fields from eODP researchers.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cleaned_data/taxa/non_taxa_fields_normalized.csv')
df.head()

     final         original
0  comment         Comments
1  comment         COMMENTS
2  comment          Comment
3  comment  General comment
4  comment   Sample comment

Group all variants of a non-taxa field into one row

In [3]:
df['original'] = df.groupby('final')['original'].transform(lambda col: '|'.join(col))
df.size

148

In [4]:
df = df.drop_duplicates()
df.size

106

In [5]:
df.head()

,final,original
0,comment,Comments|COMMENTS|Comment|General comment|Samp...
8,planktic foraminifera group abundance,PF Group Abundance|PF group abundance|% Plankt...
13,benthic foraminifera group abundance,Percentage of benthic forams in total foram as...
15,diatom group abundance,Diatom abundance|Diatoms group abundance
17,Diatoms and siliceous plankton comment,Diatoms and siliceous plankton comment

In [6]:
df.to_csv('cleaned_data/taxa/non_taxa_fields_normalized_grouped.csv', index=False)