# Normalize CSV columns

Normalize the columns for the eODP CSVs.

In [30]:
import sys
import glob
sys.path.append('../scripts/')

import pandas as pd

from normalize_data import (
    normalize_sample_col, 
    normalize_expedition_section_cols, 
    csv_cleanup,
    update_metadata,
    fetch_unique_column_names,
    append_set,
    filter_existing_set,
    normalize_columns,
    add_missing_columns
)

In [31]:
lithology = 'cleaned_data/Lithology_CSV'
lithology_meta = 'cleaned_data/metadata/Lithology_changes.csv'

micropal_1 = 'cleaned_data/Micropal_CSV_1'
micropal_meta_1 = 'cleaned_data/metadata/Micropal_1_changes.csv'

micropal_2 = 'cleaned_data/Micropal_CSV_2'
micropal_meta_2 = 'cleaned_data/metadata/Micropal_2_changes.csv'

micropal_3 = 'cleaned_data/Micropal_CSV_3'
micropal_meta_3 = 'cleaned_data/metadata/Micropal_3_changes.csv'

micropal_4 = 'cleaned_data/Micropal_CSV_revised'
micropal_meta_4 = 'cleaned_data/metadata/Micropal_revised_changes.csv'

all_lims = [
    'cleaned_data/Lithology_CSV',
    'cleaned_data/Micropal_CSV_1',
    'cleaned_data/Micropal_CSV_2',
    'cleaned_data/Micropal_CSV_3',
    'cleaned_data/Micropal_CSV_revised'
]

In [32]:
clean_data_path = micropal_4
metadata_file = micropal_meta_4

In [38]:
for directory in all_lims:
    raw_csvs = glob.glob(f"{directory}/*.csv")

    for path in raw_csvs:
        df = pd.read_csv(path, dtype=str)
        df = csv_cleanup(df, path)
        df.to_csv(path, index=False)

## Normalize expedition..section columns

Read each Lithology CSV to check if expedition..section columns exist. Overwrite existing Lithology CSV if columns need to be added.

### Read metadata file

In [46]:
metadata = pd.read_csv(metadata_file)
metadata.head()

,file,taxon_group,add_expedition_section_cols,update_sample_col,update_top_bottom,add_missing_cols,clean_up_taxa_values,fix_expedition_aw_cols,add_extra_sample_data,clean_up_taxa_metadata_values
0,363-U1482A-Benthic_Forams.csv,benthic_forams,True,False,False,False,False,True,False,True
1,320_U1336A_Nannofossils_2.csv,nannofossils,False,True,False,False,True,False,False,True
2,363-U1482A-nannofossils.csv,nannofossils,True,False,False,False,True,True,False,True
3,375_U1518F_planktic_forams.csv,planktic_forams,True,False,False,False,False,True,False,False
4,320_U1334A_Nannofossils_1.csv,nannofossils,False,True,False,False,True,False,False,True

In [47]:
metadata.shape

(189, 10)

### Normalize columns

In [6]:
def process_filename(file):
    path = f"{clean_data_path}/{file}"
    content = pd.read_csv(path)
    
    original_cols = content.columns
    content = normalize_expedition_section_cols(content)
    changed = list(original_cols) != list(content.columns)

        
    if changed:
        content = csv_cleanup(content, path)
        content.to_csv(path, index=False)

    return changed
    
change_columns = [process_filename(file) for file in metadata['file']]

### Update metadata

In [7]:
dict = {"add_expedition_section_cols": change_columns}
new_metadata = update_metadata(metadata, dict)
new_metadata.head()

,file,taxon_group,add_expedition_section_cols
0,339_benthic_forams_U1388B_5.csv,benthic_forams,False
1,324_U1348A_benthic_forams.csv,benthic_forams,False
2,339_planktic_forams_U1387C.csv,planktic_forams,False
3,339_benthic_forams_U1390A_6.csv,benthic_forams,False
4,341_radiolarians_U1419D.csv,radiolarians,True

In [8]:
new_metadata.to_csv(metadata_file, index=False)

## Normalize Sample column

Read each Lithology CSV to check if Sample column needs to be updated. Change 'Label ID' to 'Sample'. Add 'Sample' if no 'Sample' or 'Label ID' based on expedition...section columns. Overwrite existing Lithology CSV if Sample column is updated.

### Read metadata file

In [9]:
metadata = pd.read_csv(metadata_file)

In [10]:
metadata.shape

(416, 3)

### Normalize columns

In [11]:
def process_filename(file):
    path = f"{clean_data_path}/{file}"
    content = pd.read_csv(path)
    
    original_cols = content.columns
    normalize_sample_col(content)
    
    changed = list(original_cols) != list(content.columns)
    
    if changed:
        content = csv_cleanup(content, path)
        content.to_csv(path, index=False)

    return changed
    
change_columns = [process_filename(file) for file in metadata['file']]

### Update metadata

In [12]:
dict = {"update_sample_col": change_columns}
new_metadata = update_metadata(metadata, dict)
new_metadata.head()

,file,taxon_group,add_expedition_section_cols,update_sample_col
0,339_benthic_forams_U1388B_5.csv,benthic_forams,False,False
1,324_U1348A_benthic_forams.csv,benthic_forams,False,True
2,339_planktic_forams_U1387C.csv,planktic_forams,False,False
3,339_benthic_forams_U1390A_6.csv,benthic_forams,False,False
4,341_radiolarians_U1419D.csv,radiolarians,True,False

In [13]:
new_metadata.to_csv(metadata_file, index=False)

## Normalize Top and Bottom columns

Normalize all the Top, Top Depth, Bottom, and Bottom Depth column to have the same names.

In [4]:
metadata = pd.read_csv(metadata_file)

### Get top bottom columns

In [5]:
columns_all = set()

res=[fetch_unique_column_names(f"{clean_data_path}/{file}", columns_all) for file in metadata['file']]

In [6]:
top_all = set()
top = set()
top_depth = set()

bottom_all = set()
bottom = set()
bottom_depth = set()

extra = set()

append_set(top_all, r".*?top.*?", columns_all)
append_set(top_depth, r"top depth", columns_all)
append_set(top, r"top offset|top ?\[", columns_all)

append_set(bottom_all, r".*?bottom.*?", columns_all)
append_set(bottom_depth, r"bottom depth", columns_all)
append_set(bottom, r"bottom offset|bottom ?\[", columns_all)

append_set(extra, r"extra", columns_all)
extra.update(['Extra Sample ID Data'])

In [7]:
top_all

{'Calcidiscus leptoporus', 'Top Depth [m]', 'Top [cm]'}

In [8]:
top

{'Top [cm]'}

In [9]:
top_depth

{'Top Depth [m]'}

In [10]:
bottom_all

{'Bottom Depth [m]', 'Bottom [cm]'}

In [11]:
bottom

{'Bottom [cm]'}

In [12]:
bottom_depth

{'Bottom Depth [m]'}

In [13]:
extra

{'Extra Sample ID Data'}

### Normalize top bottom columns

In [14]:
def normalize_top_bottom(file):
    path = f"{clean_data_path}/{file}"
    content = pd.read_csv(path)
    columns = list(content.columns)
    
    normalized_cols = normalize_columns(top, 'Top [cm]', columns)
    normalized_cols = normalize_columns(bottom, 'Bottom [cm]', normalized_cols)
    normalized_cols = normalize_columns(top_depth, 'Top Depth [m]', normalized_cols)
    normalized_cols = normalize_columns(bottom_depth, 'Bottom Depth [m]', normalized_cols)
    normalized_cols = normalize_columns(extra, 'Extra Sample ID Data', normalized_cols)

    changed = columns != normalized_cols
    
    if changed:
        content.columns = normalized_cols
        content = csv_cleanup(content, path)
        content.to_csv(path, index=False)

    return changed

change_columns = [normalize_top_bottom(file) for file in metadata['file']]

### Update metadata

In [15]:
dict = {"update_top_bottom": change_columns}
new_metadata = update_metadata(metadata, dict)
new_metadata.head()

,file,taxon_group,add_expedition_section_cols,update_sample_col,update_top_bottom,add_missing_cols,clean_up_taxa_metadata_values
0,363-U1482A-nannofossils_revised.csv,nannofossils,True,False,False,False,True

In [16]:
new_metadata.to_csv(metadata_file, index=False)

## Add missing columns

In [17]:
metadata = pd.read_csv(metadata_file)

In [18]:
normalized_columns = [
    'Top [cm]',
    'Bottom [cm]',
    'Top Depth [m]',
    'Bottom Depth [m]', 
    'Sample',
    'Exp',
    'Site',
    'Hole',
    'Core',
    'Type',
    'Section',
    'A/W',
    'Extra Sample ID Data',
]

In [19]:
change_columns = [add_missing_columns(f"{clean_data_path}/{file}", normalized_columns) for file in metadata['file']]

In [20]:
dict = {"add_missing_cols": change_columns}
new_metadata = update_metadata(metadata, dict)
new_metadata.head()

,file,taxon_group,add_expedition_section_cols,update_sample_col,update_top_bottom,add_missing_cols,clean_up_taxa_metadata_values
0,363-U1482A-nannofossils_revised.csv,nannofossils,True,False,False,False,True

In [21]:
new_metadata.to_csv(metadata_file, index=False)