# fix individual files

In [1]:
import sys
sys.path.append('../../../')
from pathlib import Path

import pandas as pd

from config import CLEAN_DATA_DIR, OUTPUT_DIR
from scripts.normalize_data import (
    csv_cleanup,
)
from scripts.shared_utils import (
    log_df
)

In [2]:
base_dir = CLEAN_DATA_DIR

metadata_file = OUTPUT_DIR/'metadata'/'LIMS'/'Micropal_changes.csv'

## 341_radiolarians_U1417A.csv

In [6]:
metadata = pd.read_csv(metadata_file)
metadata.head()

,file,path,taxon_groups,change_file_encoding,remove_bad_characters,remove_empty_rows,remove_spaces,delete_duplicate_rows,delete_duplicate_columns,add_expedition_section_cols,update_sample_col,update_top_bottom,add_missing_cols,clean_up_taxa_values,clean_up_taxa_metadata_values,split_dextral_sinistral
0,363-U1482A-Benthic_Forams.csv,LIMS/Micropal_CSV_1/363-U1482A-Benthic_Forams.csv,benthic_forams,False,False,False,True,False,False,True,False,False,False,False,True,False
1,320_U1336A_Nannofossils_2.csv,LIMS/Micropal_CSV_1/320_U1336A_Nannofossils_2.csv,nannofossils,False,False,False,True,False,False,False,True,False,False,False,False,False
2,375_U1518F_planktic_forams.csv,LIMS/Micropal_CSV_1/375_U1518F_planktic_forams...,planktic_forams,False,False,False,True,False,False,True,False,False,False,False,False,False
3,320_U1334A_Nannofossils_1.csv,LIMS/Micropal_CSV_1/320_U1334A_Nannofossils_1.csv,nannofossils,False,False,False,True,False,False,False,True,False,False,False,False,False
4,318_U1358B_Palynology.csv,LIMS/Micropal_CSV_1/318_U1358B_Palynology.csv,palynology,False,False,False,False,False,False,False,True,False,False,False,False,False

In [7]:
path = CLEAN_DATA_DIR/metadata[metadata['file'] == '341_radiolarians_U1417A.csv']['path'].tolist()[0]

df = pd.read_csv(path, dtype=str)
df.tail()

,Sample,Exp,Site,Hole,Core,Core-Sect,Type,Section,A/W,Top [cm],...,Thecosphaera japonica,Theocorys redondoensis,Theocorythium trachelium,Theocorythium vetulum,Tholospyris scaphipes,Comments,Ship File Links,Shore File Links,File Data,eodp_id
17,341-U1417A-17H-7-PAL,341,U1417,A,17,17-7,H,7,PAL,0,...,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,d3f033c35d37c99637ab4914c6753d3a
18,341-U1417A-18H-CC-PAL,341,U1417,A,18,18-CC,H,CC,PAL,0,...,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4d42a2a2e51a7f8682afba7c3a5fbf5b
19,341-U1417A-19H-CC-PAL,341,U1417,A,19,19-CC,H,CC,PAL,0,...,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0843d3ae7143cc84238b37647256c377
20,341-U1417A-20H-CC-PAL,341,U1418,A,20,20-CC,H,CC,PAL,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f3716aa45d26e71b197174d7aaff0203
21,341-U1417A-21H-CC-PAL,341,U1419,A,21,21-CC,H,CC,PAL,0,...,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,309eb1b372791156b64c0b6be8744eb2

In [ ]:
df['Exp'] = 341
df.tail()

In [ ]:
df.to_csv(path, index=False)

 ### 323_U1340A_benthic_forams.csv

In [28]:
metadata = pd.read_csv(metadata_file)
metadata.head()

,file,path,taxon_groups,change_file_encoding,remove_bad_characters,remove_empty_rows,remove_spaces,delete_duplicate_rows,delete_duplicate_columns,add_expedition_section_cols,update_sample_col,update_top_bottom,add_missing_cols,clean_up_taxa_values,clean_up_taxa_metadata_values,split_dextral_sinistral
0,363-U1482A-Benthic_Forams.csv,LIMS/Micropal_CSV_1/363-U1482A-Benthic_Forams.csv,benthic_forams,False,False,False,True,False,False,True,False,False,False,False,True,False
1,320_U1336A_Nannofossils_2.csv,LIMS/Micropal_CSV_1/320_U1336A_Nannofossils_2.csv,nannofossils,False,False,False,True,False,False,False,True,False,False,False,False,False
2,375_U1518F_planktic_forams.csv,LIMS/Micropal_CSV_1/375_U1518F_planktic_forams...,planktic_forams,False,False,False,True,False,False,True,False,False,False,False,False,False
3,320_U1334A_Nannofossils_1.csv,LIMS/Micropal_CSV_1/320_U1334A_Nannofossils_1.csv,nannofossils,False,False,False,True,False,False,False,True,False,False,False,False,False
4,318_U1358B_Palynology.csv,LIMS/Micropal_CSV_1/318_U1358B_Palynology.csv,palynology,False,False,False,False,False,False,False,True,False,False,False,False,False

In [29]:
path = CLEAN_DATA_DIR/metadata[metadata['file'] == '323_U1340A_benthic_forams.csv']['path'].tolist()[0]

df = pd.read_csv(path, dtype=str)
df.head()

,Exp,Site,Hole,Core,Type,Section,Top [cm],Bottom [cm],Top Depth [m],Bottom Depth [m],...,Triloculina cf. trihedra,Uvigerina cf. peregrina,Uvigerina auberiana,Valvulineria sp.,IRD,Other observations,Unnamed: 62,A/W,Sample,eodp_id
0,323,U1340,A,1,H,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,323-U1340A-1H-1,f875fdfee1148cfc9d3db116a2f5e685
1,323,U1341,A,1,H,CC,NaN,NaN,3.8,3.9,...,P,R,NaN,NaN,D,NaN,NaN,NaN,324-U1341A-1H-CC,143d41a1f9d35cb53f4813dba0f2a680
2,323,U1342,A,2,H,CC,NaN,NaN,13.82,13.92,...,NaN,P,NaN,NaN,D,NaN,NaN,NaN,325-U1342A-2H-CC,1bbf6fba771b8c5ac3d458b517a80cea
3,323,U1343,A,3,H,CC,NaN,NaN,23.39,23.49,...,NaN,R,NaN,NaN,D,"Sponge spicules, quartz, wood fragments",NaN,NaN,326-U1343A-3H-CC,1d576c7f73c023d470c840d17dc32d15
4,323,U1344,A,4,H,CC,NaN,NaN,32.75,32.85,...,NaN,NaN,NaN,P,D,"Sponge spicules, quartz, wood fragments",NaN,NaN,327-U1344A-4H-CC,0c91cff2679aaab162c23c4cc89a528c

In [30]:
df['Exp'] = 323
df.head()

,Exp,Site,Hole,Core,Type,Section,Top [cm],Bottom [cm],Top Depth [m],Bottom Depth [m],...,Triloculina cf. trihedra,Uvigerina cf. peregrina,Uvigerina auberiana,Valvulineria sp.,IRD,Other observations,Unnamed: 62,A/W,Sample,eodp_id
0,323,U1340,A,1,H,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,323-U1340A-1H-1,f875fdfee1148cfc9d3db116a2f5e685
1,323,U1341,A,1,H,CC,NaN,NaN,3.8,3.9,...,P,R,NaN,NaN,D,NaN,NaN,NaN,324-U1341A-1H-CC,143d41a1f9d35cb53f4813dba0f2a680
2,323,U1342,A,2,H,CC,NaN,NaN,13.82,13.92,...,NaN,P,NaN,NaN,D,NaN,NaN,NaN,325-U1342A-2H-CC,1bbf6fba771b8c5ac3d458b517a80cea
3,323,U1343,A,3,H,CC,NaN,NaN,23.39,23.49,...,NaN,R,NaN,NaN,D,"Sponge spicules, quartz, wood fragments",NaN,NaN,326-U1343A-3H-CC,1d576c7f73c023d470c840d17dc32d15
4,323,U1344,A,4,H,CC,NaN,NaN,32.75,32.85,...,NaN,NaN,NaN,P,D,"Sponge spicules, quartz, wood fragments",NaN,NaN,327-U1344A-4H-CC,0c91cff2679aaab162c23c4cc89a528c

In [31]:
df['Sample'] = df['Sample'].str.replace('^\d{3}', '323', regex=True)
df.head()

,Exp,Site,Hole,Core,Type,Section,Top [cm],Bottom [cm],Top Depth [m],Bottom Depth [m],...,Triloculina cf. trihedra,Uvigerina cf. peregrina,Uvigerina auberiana,Valvulineria sp.,IRD,Other observations,Unnamed: 62,A/W,Sample,eodp_id
0,323,U1340,A,1,H,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,323-U1340A-1H-1,f875fdfee1148cfc9d3db116a2f5e685
1,323,U1341,A,1,H,CC,NaN,NaN,3.8,3.9,...,P,R,NaN,NaN,D,NaN,NaN,NaN,323-U1341A-1H-CC,143d41a1f9d35cb53f4813dba0f2a680
2,323,U1342,A,2,H,CC,NaN,NaN,13.82,13.92,...,NaN,P,NaN,NaN,D,NaN,NaN,NaN,323-U1342A-2H-CC,1bbf6fba771b8c5ac3d458b517a80cea
3,323,U1343,A,3,H,CC,NaN,NaN,23.39,23.49,...,NaN,R,NaN,NaN,D,"Sponge spicules, quartz, wood fragments",NaN,NaN,323-U1343A-3H-CC,1d576c7f73c023d470c840d17dc32d15
4,323,U1344,A,4,H,CC,NaN,NaN,32.75,32.85,...,NaN,NaN,NaN,P,D,"Sponge spicules, quartz, wood fragments",NaN,NaN,323-U1344A-4H-CC,0c91cff2679aaab162c23c4cc89a528c

In [32]:
df.to_csv(path, index=False)

## fix  Micropal_CSV_2/349_U1435A_planktic_forams.csv

In [ ]:
metadata = pd.read_csv(metadata_file)
metadata.head()

In [ ]:
path = CLEAN_DATA_DIR/metadata[metadata['file'] == '349_U1435A_planktic_forams.csv']['path'].tolist()[0]

df = pd.read_csv(path, dtype=str)
df.head()

In [ ]:
df.rename(columns={'Tenuitella spp.\xa0N/A': 'Tenuitella spp.'}, inplace=True)

In [ ]:
df.to_csv(path, index=False)