# Create Taxa list csv for micropal 4

Create a csv containing taxa names for micropal 4

In [1]:
import sys
sys.path.append('../../../')
import glob
import re
import os.path
import time
import requests

import pandas as pd
import numpy as np

from scripts.shared_utils import extract_taxon_group_from_filename, log_df
from scripts.normalize_data import (
    csv_cleanup,
    update_metadata,
    get_taxonomy_columns,
    clean_taxon_name
)
from scripts.normalize_taxa import add_normalized_name_column, taxon_name_parser
from config import CLEAN_DATA_DIR, OUTPUT_DIR, RAW_DATA_DIR

from scripts.pbdb import get_parent_taxa, PBDB_TAXA_NAME

In [2]:
base_dir = CLEAN_DATA_DIR

micropal_4 = CLEAN_DATA_DIR/'LIMS'/'Micropal_CSV_4'
metadata_path = OUTPUT_DIR/'metadata'/'LIMS'/'Micropal_changes_4.csv'

non_taxa_fields_path = OUTPUT_DIR/'taxa'/'non_taxa_fields_2020-06-04.csv'

LIMS_taxa_file = OUTPUT_DIR/'taxa'/'LIMS'/f"taxa_crosswalk_2022-02-22.csv"
NOAA_taxa_file =  RAW_DATA_DIR/'PI_processed_files'/'NOAA_taxa_lists_taxa_list_2022-02-24.csv'

date = '2022-02-24'
taxa_file = OUTPUT_DIR/'taxa'/'draft'/'LIMS'/f"micropal_4_taxa_{date}.csv"
genus_file= OUTPUT_DIR/'taxa'/'draft'/'LIMS'/f"micropal_4_genus_{date}.csv"
taxa_pbdb_file = OUTPUT_DIR/'taxa'/'draft'/'LIMS'/f'micropal_4_taxa_pbdb_{date}.csv'
genus_letter_file= OUTPUT_DIR/'taxa'/'draft'/'LIMS'/f"micropal_4_genus_letter_{date}.csv"

In [3]:
clean_csvs = []
clean_csvs = clean_csvs + list(micropal_4.glob("*.csv"))

clean_csvs[0:3]

[PosixPath('../../../output/cleaned_data/LIMS/Micropal_CSV_4/320_U1334_benthic_forams.csv'),
 PosixPath('../../../output/cleaned_data/LIMS/Micropal_CSV_4/361_U1479B_nannofossils.csv'),
 PosixPath('../../../output/cleaned_data/LIMS/Micropal_CSV_4/372_U1517C_planktic_forams.csv')]

In [5]:
clean_data_path = CLEAN_DATA_DIR
metadata_file = metadata_path

# create metadadta

get taxon groups from file names and normalize them

In [6]:
raw_taxon_groups = set()

for path in clean_csvs:
    filename = path.name
    group = extract_taxon_group_from_filename(filename)
    raw_taxon_groups.add(group)
    
raw_taxon_groups

{'benthic_forams',
 'diatoms',
 'dinoflagellates',
 'ebridians',
 'nannofossils',
 'ostracods',
 'other',
 'palynology',
 'planktic_forams',
 'radiolarians',
 'rads',
 'silicoflagellates'}

In [7]:
taxon_groups = {
'benthic_forams': 'benthic_forams',
 'diatoms': 'diatoms',
 'dinoflagellates': 'dinoflagellates',
 'ebridians': 'ebridians',
 'nannofossils': 'nannofossils',
 'ostracods': 'ostracods',
 'other': 'other',
 'palynology': 'palynology',
 'planktic_forams': 'planktic_forams',
 'radiolarians': 'radiolarians',
 'rads': 'radiolarians',
 'silicoflagellates': 'silicoflagellates'
}

In [8]:
file_taxon_groups = []
filenames = []
relative_paths = []


for path in clean_csvs:
    relative_path = path.relative_to(base_dir)
    filename = path.name
    raw_taxon_group = extract_taxon_group_from_filename(filename)
    taxon_group = taxon_groups[raw_taxon_group]
        
    filenames.append(filename)
    relative_paths.append(relative_path)
    file_taxon_groups.append(taxon_group)

In [9]:
dict = {"file": filenames,
        "path": relative_paths,
        "taxon_group": file_taxon_groups}

metadata = pd.DataFrame(dict)
log_df(metadata)

(137, 3)

,file,path,taxon_group
0,320_U1334_benthic_forams.csv,LIMS/Micropal_CSV_4/320_U1334_benthic_forams.csv,benthic_forams
1,361_U1479B_nannofossils.csv,LIMS/Micropal_CSV_4/361_U1479B_nannofossils.csv,nannofossils
2,372_U1517C_planktic_forams.csv,LIMS/Micropal_CSV_4/372_U1517C_planktic_forams...,planktic_forams
3,317_U1352_planktic_forams.csv,LIMS/Micropal_CSV_4/317_U1352_planktic_forams.csv,planktic_forams
4,323_U1339_palynology.csv,LIMS/Micropal_CSV_4/323_U1339_palynology.csv,palynology

In [10]:
metadata.to_csv(metadata_path, index=False)

## Create a csv of all taxa

In [10]:
metadata = pd.read_csv(metadata_path)
log_df(metadata)

(137, 12)

,file,path,taxon_group,change_file_encoding,remove_bad_characters,remove_empty_rows,remove_spaces,delete_duplicate_rows,delete_duplicate_columns,update_sample_col,update_top_bottom,add_missing_cols
0,320_U1334_benthic_forams.csv,LIMS/Micropal_CSV_4/320_U1334_benthic_forams.csv,benthic_forams,False,False,False,True,False,False,True,False,False
1,361_U1479B_nannofossils.csv,LIMS/Micropal_CSV_4/361_U1479B_nannofossils.csv,nannofossils,True,True,False,True,False,False,False,False,False
2,372_U1517C_planktic_forams.csv,LIMS/Micropal_CSV_4/372_U1517C_planktic_forams...,planktic_forams,False,False,False,True,False,False,False,False,False
3,317_U1352_planktic_forams.csv,LIMS/Micropal_CSV_4/317_U1352_planktic_forams.csv,planktic_forams,False,False,False,True,False,False,True,False,False
4,323_U1339_palynology.csv,LIMS/Micropal_CSV_4/323_U1339_palynology.csv,palynology,False,False,False,True,False,False,True,False,False

get all columns with data

In [12]:
all_columns = set()
for path in metadata['path']:
    if '317_U1351_planktic_forams.csv' in str(path):
        header = 0
    else:
        header = 0
    df = pd.read_csv(clean_data_path/path, dtype=str, header=header)
    df = csv_cleanup(df, clean_data_path/path)
    df = df.dropna(how='all', axis='columns')
    all_columns.update([col.strip() for col in df.columns])

In [13]:
len(all_columns)

1603

In [14]:
strip_cols = [col.strip() for col in all_columns]

get procesessed LIMS taxa

In [44]:
existing_LIMS_taxa = set()

existing_taxa_df = pd.read_csv(LIMS_taxa_file)
for index, row in existing_taxa_df.iterrows():
    existing_LIMS_taxa.add(row['verbatim_name'])
    # existing_LIMS_taxa.add(row['normalized_name'])

len(existing_LIMS_taxa)

4581

get NOAA taxa

In [45]:
existing_NOAA_taxa = set()

existing_taxa_df = pd.read_csv(NOAA_taxa_file)
add_normalized_name_column(existing_taxa_df, include_descriptor=True, col_name="normalized_name_descriptor")
add_normalized_name_column(existing_taxa_df, include_descriptor=False, col_name="normalized_name")

for index, row in existing_taxa_df.iterrows():
    existing_NOAA_taxa.add(row['verbatim_name'])
    # existing_NOAA_taxa.add(row['normalized_name_descriptor'])
    # existing_NOAA_taxa.add(row['normalized_name'])

len(existing_NOAA_taxa)

7758

In [46]:
nontaxa = {
 'Abundance',
 'Abundance ',
 'Abundance (%)',
 'Abundances',
 'Age',
 'Age:',
 'Benthic abundance',
 'Biozone name',
 'Biozone name (short)',
 'Bottom (cm)',
 'Bottom (m CSF-A)',
 'Bottom CSF-A (m)',
 'Bottom Depth (m)',
 'Bottom Depth (m) CSF-A',
 'Bottom Depth CSF-A (m)',
 'Bottom Depth [CFS m]',
 'Bottom Depth [m]',
 'Bottom Offset (cm) on Parent Sample',
 'Bottom [cm]',
 'Bottom depth CSF-B (m)',
 'Bottom depth CSF-B (m):',
 'Bottom interval (cm)',
 'COMMENTS',
 'Comments',
 'Core',
 'Core Type',
 'Core Type - Section',
 'Core type',
 'Core,    section',
 'Core, Section',
 'Core, Section, Interval',
 'Core, section',
 'Core, section, interval',
 'Core, section, interval (cm)',
 'Datum age average (Ma)',
 'Datum name',
 'Datum type',
 'Depth (cm)',
 'Depth (csf)',
 'Depth (m) CSF-A',
 'Depth CSF (m)',
 'Depth CSF-A (m)',
 'Depth Method',
 'Depth bottom CSF-A (m)',
 'Depth m (m csf)',
 'Depth top CSF-A (m)',
 'Exp',
 'Expedition',
 'Expedition ',
 'Expedition, site, hole, core, section, interval (cm):',
 'Foraminferal preservation',
 'Foraminiferal abundance',
 'Foraminiferal preservation',
 'Group Abundance',
 'Group abundance',
 'Half',
 'Hole',
 'Hole, Core, Section',
 'Hole.1',
 'IRD',
 'Interval (bottom)',
 'Interval (top)',
 'Interval Top (cm) on SHLF',
 'Interval Bot (cm) on SHLF',   
 'Miscellaneous',
 'Nannofossil Zone',
 'Nannofossil abundance',
 'Nannofossil comment',
 'Oberservations',
 'Observations',
 'Original Bottom Depth (m)',
 'Original Top Depth (m)',
 'Other fossil material',
 'Other observations',
 'Other taxa',
 'Preservation',
 'Presevation',
 'REMARKS',
 'Remarks',
 'Sample',
 'Section',
 'Section Half',
 'Secton Half',
 'Site',
 'Top (cm)',
 'Top (m CSF-A)',
 'Top CSF-A (m)',
 'Top Depth (CSF m)',
 'Top Depth (m)',
 'Top Depth (m) CSF-A',
 'Top Depth CFS (m)',
 'Top Depth CSF-A (m)',
 'Top Depth [CFS m]',
 'Top Depth [CSF m]',
 'Top Depth [m]',
 'Top Offset (cm) on Parent Sample',
 'Top [cm]',
 'Top depth CSF (m)',
 'Top depth CSF-B (m)',
 'Top depth CSF-B (m):',
 'Top depth [CSF m]',
 'Top interval (cm)',
 'Total pollen',
 'Total radiolarians',
 'Type',
 'Unnamed: 148',
 'Unnamed: 21',
 'Unnamed: 3',
 'Unnamed: 61',
 'Unnamed: 81',
 'Zone',
 'Zone name (short)',
 'Zone/Subzone',
 'bottom (cm)',
 'bottom interval (cm)',
 'comments',
 'core, section',
 'depth Bottom (m CSF-A)',
 'depth Bottom (m)',
 'depth Bottom CSF-A (m)',
 'depth CSF-A',
 'depth CSF-A (m)',
 'depth CSF-A Bottom (m)',
 'depth CSF-A Top (m)',
 'depth Top (m CSF-A)',
 'depth Top (m)',
 'depth Top CSF-A (m)',
 'interval (cm)',
 'mean depth (mbsf)',
 'preservation',
 'section',
 'top (cm)',
 'top interval (cm)',
'A/W',
'eodp_id',
"Core, Type, Section"
}

all_taxa_names = all_columns  - nontaxa
taxa_names = all_taxa_names - existing_LIMS_taxa - existing_NOAA_taxa

In [47]:
print(len(all_taxa_names), len(taxa_names), len(nontaxa))

1529 688 136

In [48]:
taxa_names

{'',
 'Aberrant Silicoflagellates',
 'Aberrant forms',
 'Aberrant silicoflagellates',
 'Aberrant silicoflaglelate skeletons',
 'Acarinina cf. medizzi',
 'Achnanthes lanceolatum',
 'Actinocyclus ingens nodus',
 'Actinocyclus senarius',
 'Actinocyclus sp. 1',
 'Actinocyclus sp. 2',
 'Actinocyclus sp.1',
 'Actinocyclus vulgaris',
 'Actinocycluscurvatulus',
 'Actinocylus actinochilus',
 'Actinocylus karstenii',
 'Actinoptycus senarius',
 'Agglutinated Foram. gen. et sp. indet.',
 'Agglutinated indet.',
 'Alabaminella weddelensis',
 'Alabammina sp.',
 'Alabamminella weddelensis',
 'Ammodiscus latus',
 'Ammodochium rectangulare (Ebridian)',
 'Ammonia parkinsoniana f. aoteana',
 'Amphicoryna',
 'Amphora spp.',
 'Anomalina spherica',
 'Anomalinoides cf. globulosus',
 'Anomalinoides parvumbilia',
 'Anomalinoides parvumbilianus',
 'Anomalinoides parvumbilius',
 'Anomalinoides sp. A',
 'Anomalinoides sp. B',
 'Anomalinoides sp. indet.',
 'Anomalinoides sp.A',
 'Anomalinoides sphericus',
 'Anomalinoides subnonionoides',
 'Anomalinoides? sp.',
 'Asteromphalus darwinii in Koizumi 1968',
 'Astorononion spp.',
 'Astromphalus brookei',
 'Astrononion kickinskii',
 'Astrononion sp. indet.',
 'Astrorhiza sp.?',
 'Aulacoseira sp.',
 'Awhea tosta',
 'Azpeitia cf. tabularis',
 'Bachmannocena apiculata',
 'Bathymetry',
 'Beella spp.',
 'Bicolumnus ovatus',
 'Blackites sp.',
 'Bolboforma metzmacheri s.s.',
 'Bolboforma reticulata',
 'Bolboforma robusta',
 'Bolboforma sp.',
 'Bolivina',
 'Bolivina affiliata',
 'Bolivina sp. 1',
 'Bolivina sp. A',
 'Bolivinita cf. pliozea',
 'Bolivinita pohana (cf.)',
 'Botellina labyrinthica',
 'Botryococcus + Pediastrum',
 'Braarudosphaera bigelowi',
 'Braarudosphaera bigelowiI',
 'Brigantedinium cariacoense',
 'Brizalina cf. spathula',
 'Brizalina pussilla',
 'Brizalina pygmaea',
 'Bryozoa fragments',
 'Bryozoan fragments',
 'Bulimina',
 'Bulimina aculeata (cf. smooth)',
 'Bulimina aff. exilis',
 'Bulimina aff. mexicana',
 'Bulimina aff. striata',
 'Bulimina pyrula spinescens',
 'Bulimina sp.  A',
 'Bulimina sp. B',
 'Bulimina sp. C',
 'Bulimina sp. indet.',
 'Bulimina striata (cf.)',
 'C. abisectus',
 'C. braarudii',
 'C. floridanus',
 'C. leptoporus',
 'C. leptoporus (small)',
 'C. pelagicus',
 'C.nitescens',
 'Calc. Hyaline Foram. gen. et sp. indet.',
 'Calcidiscus leptoporus (10-11 µm)',
 'Calcidiscus leptoporus (>10 μm)',
 'Calcidiscus macintyrei (>11 μm)',
 'Calcidiscus pataceus',
 'Calcidiscus tropicus (>10 µm)',
 'Cancris cf. phillipinensis',
 'Cassidulina',
 'Cassidulina laevigata var. carinata',
 'Cassidulina neocarinata',
 'Cassidulina sp. A',
 'Cassidulina sp. indet.',
 'Cassidulina? sp.',
 'Catapsydrax spp.',
 'Caudamina sp.',
 'Centrobotris petrushevskayae',
 'Ch. altus',
 'Ch. oamaruensis',
 'Chaetoceros furcellatum spores',
 'Chaetoceros resting spore',
 'Chaetoceros resting spores',
 'Chaetoceros spores',
 'Chaetoceros spp. Spores',
 'Chaetoceros spp. resting spore',
 'Chaetoceros spp. spores',
 'Chaetoceros spp. vegetative spore',
 'Chaetoceros vegetative spore',
 'Chiloguembelina otara',
 'Chrysalogonium sp. indet.',
 'Cibicides',
 'Cibicides deliquatus',
 'Cibicidoides cf. perforatus',
 'Cibicidoides cf. subhaidingerii',
 'Cibicidoides eocanus',
 'Cibicidoides grimusdalei',
 'Cibicidoides havannsis',
 'Cibicidoides neoperforatus',
 'Cibicidoides perforatus',
 'Cibicidoides premundulus',
 'Cibicidoides sp. A',
 'Cibicidoides sp. B',
 'Cibicidoides sp. C',
 'Cibicidoides sp. indet.',
 'Clausicoccus obrutus',
 'Clavatorella sturanii?',
 'Clavigerinella eocenica',
 'Clavigerinella spp. (fragments)',
 'Coccolithus pelagicus f. braarudii',
 'Coccolithus streckeri',
 'Coccolithus streckerii',
 'Cocconeis californica cf. kerguelensis',
 'Cocconeis californica cf. kerguerensis',
 'Cocconeis fasciolata',
 'Cocconeis pribilofensis',
 'Cocconeis sp. 1',
 'Cocconeis vitrea?',
 'Corbisema cf. hastata cunicula',
 'Cornuspira',
 'Coronocyclus nitescens (ellipical)',
 'Coronocyclus nitescens elliptical',
 'Coscinodiscus oc-iridis',
 'Coscinodiscus oculus iridis',
 'Coscinodiscus sp. 1',
 'Cryptococcolithus cf. mediaperforatus',
 'Cyclammina',
 'Cyclicargolithus abisectus (10-11 μm)',
 'Cyclicargolithus abisectus (>11 μm)',
 'Cyclicargolithus abisectus 10-11 μm',
 'D.deflandrei',
 'Delphineis cf. angustata',
 'Delpineis cf. angustata',
 'Dentoglobigerina subdehiscens',
 'Dentoglobigerina tripartita s.s.',
 'Diatom Zone (NPD) in Yanagisawa and Akiba (1998)',
 'Diatom Zone (Yanagisawa and Akiba, 1998)',
 'Dic. subarctios',
 'Dictyocha cf. mandrai',
 'Dictyococcites (<3 µm)',
 'Dictyococcites <3 µm',
 'Dictyococcites productellus (3-5 μm)',
 'Dictyococcites productellus (3-5 μm, circular)',
 'Dictyococcites productellus (<3 μm)',
 'Dictyococcites scripsae',
 'Dictyococcites stavensis (10-14 μm)',
 'Dictyococcites stavensis (>10 μm)',
 'Dictyococcites stavensis (>14 μm)',
 'Dinoflagellate cysts',
 'Diploneis angustata',
 'Diploneis splendida',
 'Dis. Medianoctisol',
 'Dis. Medianoctisol (with short radial spines)',
 'Dis. octangulatus',
 'Dis. octonarius',
 'Dis. speculum',
 'Dis. speculum (with short radial spines)',
 'Discoaster spp. (six-rayed)',
 'Discoaster tani nodifer',
 'Discorbinella',
 'Distephanus boliviensis',
 'Distephanus medianoctisol',
 'Distephanus medianoctisol (with short radial spines)',
 'Distephanus medianoctisol with short radial spines',
 'Distephanus medianoctisol with short spines',
 'Distephanus slavincii',
 'Distephanus speculum (with short radial spines)',
 'Distephanus speculum with short radial spine',
 'Distephanus speculum with short radial spines',
 'Dorcadospyris scambos',
 'Dorothia pseudofiliformis',
 'Dubridinium spp.',
 'Dyocibicides primitiva',
 'E. huxleyi',
 'Ebria tripartita',
 'Ebriopsis antiqua antiqua (Ebridian)',
 'Ebriopsis antiqua antiqua (ebridian)',
 'Echinidinium aculeatum',
 'Echinoid fragments indet.',
 'Echinoid plate fragments',
 'Echinoid spines',
 'Eggerella sp. A',
 'Eherenbergina mestateri',
 'Ehrenbergina',
 'Elphidium',
 'Elphidium advenum (f.limbatum)',
 'Elphidium advenum f. limbatum',
 'Elphidium cf. batialis',
 'Elphidium charlottense',
 'Elphidium excavatum f.clavatum',
 'Emiliania pujosae',
 'Encyonema lacustre',
 'Encyonema spp.',
 'Encyonema ventricosa',
 'Epistominella sp. A',
 'Eunotia triodon',
 'Euuvigerina',
 'Euuvigerina miozea (cf.)',
 'Euuvigerina peregrina',
 'Euuvigerina peregrina (cf.)',
 'Euuvigerina rodleyi (cf.)',
 'Evolvecassidulina cf. howei',
 'Evolvocassidulina orientalis',
 'Fish scales',
 'Fish teeth',
 'Fissurina',
 'Fissurina sp',
 'Fistulose? sp.',
 'Fragilaria cylindrus',
 'Fragilaria oceanica',
 'Fragilaria spp.',
 'Fragilariopsis cylindrica',
 'Fragilariopsis oceanica',
 'Fraglariopsis spp.',
 'Frgilariopsis cylindrus',
 'Frgilariopsis oceanica',
 'Fursenkoina',
 'Gaudryina sp. indet',
 'Gavelinopsis',
 'Gavelinopsis hamatus',
 'Gavelinopsis spp.',
 'Gen. et sp. indet',
 'Gephryocapsa ericsonii',
 'Gephyrocapsa (medium)',
 'Gephyrocapsa (small)',
 'Gephyrocapsa caribbeania (3-4 μm)',
 'Gephyrocapsa caribbeanica (3-4 μm)',
 'Gephyrocapsa caribbeanica (4-5.5 μm)',
 'Gephyrocapsa caribbeanica (5.5-6.5 μm)',
 'Gephyrocapsa caribbeanica (>6.5 μm)',
 'Gephyrocapsa crassipons',
 'Gephyrocapsa oceanica (3-4 μm)',
 'Gephyrocapsa oceanica (4-5.5 μm)',
 'Gephyrocapsa oceanica (5.5--6.5 μm)',
 'Gephyrocapsa oceanica (5.5-6.5 μm)',
 'Gephyrocapsa spp. (large >5.5 µm)',
 'Gephyrocapsa spp. (medium 4-5.5 µm)',
 'Gephyrocapsa spp. (small <3.5 µm)',
 'Globigerina brazeri',
 'Globigerina officianilis',
 'Globigerina spp.',
 'Globigerinella sp.',
 'Globigerinoides spp.',
 'Globigerinoides triloba',
 'Globocassidulina canalisutulata',
 'Globocassidulina cuneata',
 'Globocassidulina sp. A',
 'Globocassidulina sp. B',
 'Globoconella cf. puncticuloides',
 'Globoconella conica',
 'Globoconella explicationis',
 'Globoconella incognita',
 'Globoconella inflata triangula',
 'Globoconella puncticuloides',
 'Globoconella sp.',
 'Globoconella subconomiozea',
 'Globoconella triangula (cf.)',
 'Globoquadrina euapertura',
 'Globoquadrina spp.',
 'Globoquardina rohri',
 'Globorotalia (Fohsella) "praefohsi"',
 'Globorotalia (Fohsella) fohsi fohsi',
 'Globorotalia (Fohsella) fohsi lobata',
 'Globorotalia (Fohsella) “praefohsi”',
 'Globorotalia (Globoconella) panda',
 'Globorotalia (Globoconella) praesctula',
 'Globorotalia (Men ardella) menardii',
 'Globorotalia (Menardella) archaeomenardii',
 'Globorotalia (Menardella) exilis-pertenuis',
 'Globorotalia (Menardella) spp.',
 'Globoturborotalita anguliofficinalis',
 'Globoturborotalita brazeri',
 'Globoturborotalita ouachitaensis',
 'Glomospira challoides',
 'Glomospira goldialis',
 'Gomphonema spp.',
 'Gonphonema spp.',
 'Grammatophora angulata',
 'Grammatophora arcunata',
 'Gymnodinium catenatum',
 'Gyroidina',
 'Gyroidina danvillensis',
 'Gyroidinoides sp. A',
 'Gyroidinoides sp. B',
 'Gyroidinoides sp. C',
 'Gyroidinoides sp. D',
 'Gyroidinoides sp. indet.',
 'Haeuslella finlayi',
 'Haeuslerella',
 'Haeuslerella morgani',
 'Haeuslerella parri',
 'Haeuslerella pliocenica',
 'Haeuslerella pukekiensis',
 'Haeuslerlella parri',
 'Hallodinium',
 'Haplophragmoides sp. indet.',
 'Haynesina depressa',
 'Helicosphaera cf. euphratis',
 'Helicosphaera cf. intermedia',
 'Helicosphaera cf. sellii',
 'Helicosphaera elongata',
 'Helicosphaera omanica',
 'Hemidiscus sp. 1 of Zielinski & Gersonde (2002)',
 'Herbs',
 'Hirsutella hirsuta (D)',
 'Hirsutella sp.',
 'Hirsutella theyeri',
 'Holothurian spicules',
 'Hormosinella guttifera',
 'Hyalochaete',
 'I. recurvus',
 'I.mpagidinium pallidum',
 'I.mpagidinium patulum',
 'Impagidinium spp.',
 'Islandiella islandica',
 'Islandinium Morphtype Cesare',
 'Islandinium imnutum',
 'Islandinium ium cf. brevispinosum',
 'Islandinium minutum',
 'Kisseleviella calina',
 'Laevigata sp.',
 'Lagena',
 'Lagena striata?',
 'Laticarinina altocamerata',
 'Lejeunecysta falax',
 'Loxostmum karrerianum',
 'Loxostmum truncatum',
 'Marginulina',
 'Marginulinopsis',
 'Marine',
 'Martini (1971) Zone',
 'Martinottiella',
 'Mattinotiella cummunis',
 'Mediarina splendida',
 'Melonis baeleanuum',
 'Melonis barleanum',
 'Melonis dorreeni',
 'Melonis pomplioides',
 'Melosira spp.',
 'Meridion spp.',
 'Micro mollusks',
 'Micro-mollusks',
 'Microbivalves',
 'Microgastropods',
 'Minyalitha convalis',
 'Minylitha convalis',
 'Myllostonella spp.',
 'Navicula distans',
 'Nematosphaeropsis lemniscata',
 'Neococcolithus sp.',
 'Neodenticula sp. A',
 'Neogloboquadrina deutertrei',
 'Neogloboquadrina dutertrei (D)',
 'Neogloboquadrina dutertrei (S)',
 'Nephrospyris renila',
 'Neugeborina ovicula',
 'Nitzschia peragalli',
 'Nitzschia? sp. 1',
 'Nodosalia spp.',
 'Nodosaria acuminata',
 'Nodosaria advena',
 'Nodosaria aff. pyrula',
 'Nonion affine',
 'Nothia robusta',
 'Notorotalia',
 'Notorotalia aucklandica',
 'Notorotalia clathrata (hornibrooki)',
 'Notorotalia depressa',
 'Notorotalia finlayi (cf.)',
 'Notorotalia hurupiensis',
 'Notorotalia inornata',
 'Notorotalia pliozea',
 'Notorotalia profunda',
 'Notorotalia sp. A (large plano-convex)',
 'Notorotalia taranakia',
 'Notorotalia wilsoni',
 'Notorotalia zealandica',
 'O. centrocarpum var. Arctic',
 'O. centrocarpum var. short processes',
 'O. centrocarpum-Arctic morphotype',
 'Oolina globosa?',
 'Opephora marina',
 'Org .linnings of foraminifers',
 'Organic lining of foraminifers',
 'Organic lining of forams',
 'Orthorhabdus spp.',
 'Ostracods',
 'Otoliths',
 'P. lacunosa',
 'Palaria sol',
 'Palaria sulcata',
 'Pandaglandulina',
 'Paracassidulina neocarinata',
 'Paracassidulina sp.',
 'Paragloborotalia mayeri s.l.',
 'Paragloborotalia opima-nana transition',
 'Paragloborotalia pseudocontuosa',
 'Paragloborotalia siakensis/mayeri',
 'Paragloborotalia spp.',
 'Parali sol',
 'Paralia sol',
 'Parasubbotina griffinae',
 'Parasubbotina varianta\nParagloborotalia spp.',
 'Paratrochammina bipolaris',
 'Paratrochammina challengeri',
 'Paratrochamminoides spp.',
 'Patellinella inconspicua',
 'Pediastrum + Botryococcus',
 'Pentapharsodinium dalei',
 'Pileolina',
 'Pinnularia gibba linearis',
 'Pinularia sp.',
 'Planktic foraminiferal %',
 'Planktic foraminiferal (%)',
 'Planulina ariminensus',
 'Planulina costata',
 'Planulina wuellerstorfi (cf.)',
 'Planulina? sp.',
 'Plectofrondicularia pohana',
 'Pollen',
 'Pollen (herbs)',
 'Pollen (shrubs)',
 'Pollen (trees)',
 'Polykrikos - Arctic morphotype',
 'Polykrikos schwartzii',
 'Pontosphaera japonIca',
 'Porosira glacilis',
 'Praeorbulina spp. fragments',
 'Proboscia alata',
 'Proboscia cf. subarctica',
 'Procerolagena cf. gracillima',
 'Protoperidinium americanum',
 'Proxifrons advena',
 'Pseudocythere caudata',
 'Pseudoemiliania pacifica',
 'Pseudoemiliania sp.',
 'Pseudonodosaria',
 'Pseudonodosaria symmetrica',
 'Pseudoparrella spp.',
 'Pseudopleurostomella spp.',
 'Psuedopodsira elegans',
 'Pullenia',
 'Pullenia eocenica',
 'Pullenia sp. 1',
 'Pullenia sp. A',
 'Pullenia sp. B',
 'Pullenia sp. indet.',
 'Pulleniatina spp.',
 'Pygmaeseistron aff. hispida',
 'Pygmaeseistron cf. hispida',
 'Pyrgo',
 'Pyrgo anomala',
 'Pyrgo guerreri',
 'Pyrgo sp. B',
 'Pyrociclus orangensis',
 'Pyrociclus sp.',
 'Pysidicula turris',
 'Pyxidicula horridus',
 'Pyxidicula pustulatus',
 'Pyxidicula sp. 1',
 'Pyxidicula sp. 2',
 'Pyxidicula sp. 3',
 'Pyxidicula sp. 6',
 'Pyxidicula spp.',
 'Pyxidicula turris',
 'Pyxidicula zabelinae',
 'Pyxidiculla turris',
 'Pyxidiniopsis reticulata',
 'Pyxilla americana',
 'Quadrimorphina? sp.',
 'Quinquecuspis concreta',
 'Quinqueloculina',
 'Quinqueloculina incisa',
 'R. bisecta',
 'R. minuta',
 'R. minuta + R.minutula gr.',
 'R. minuta/D.productus',
 'R. minutula',
 'R. minutula/D.antarcticus',
 'R. oamaruensis',
 'R. pseudoumbilicus gr.',
 'R. pseudoumbilicus/R.gelida',
 'R. pseudoumblicus/R.gelida',
 'R. umbilicus',
 'Radiolarian zone',
 'Radiolarian zone/subzone',
 'Radiolarians',
 'Raphoneis amphiceros',
 'Rectobolivina parvula',
 'Rectouvigerina senni',
 'Rectuvigerina pohana',
 'Reophax dentaliniformis',
 'Resting spores of Chaetoceros',
 'Reticulofenestra ampla',
 'Reticulofenestra amplus',
 'Reticulofenestra asanoi (<6 um)',
 'Reticulofenestra asanoi (>6 um)',
 'Reticulofenestra filewiczii',
 'Reticulofenestra gelida (8-10 µm)',
 'Reticulofenestra gelida (>10 μm)',
 'Reticulofenestra haqii (3-5 μm)',
 'Reticulofenestra haqii (3-5 μm, circular)',
 'Reticulofenestra haqii (<3 μm)',
 'Reticulofenestra minuta (<3 μm)',
 'Reticulofenestra minutula (circular)',
 'Reticulofenestra pseudoumbilicus (8-10 μm)',
 'Reticulofenestra pseudoumbilicus (>10 μm)',
 'Reticulofenestra pseudoumbilicus (>7 µm)',
 'Reticulofenestra rotaria (elliptical)',
 'Reticulofenestra sp.',
 'Reticulofenestra umbilicus (10-14 µm)',
 'Reticulofenestra umbilicus (>14 µm)',
 'Reticulofenestra wadeae',
 'Reticulophragmium amplectens',
 'Reworked palynomorphs',
 'Rhabdonema sp.',
 'Rhizosolenia borealis',
 'Rhizosolenia hebetata f. heimalis',
 'Rhizosolenia sp',
 'Rhizosolenia sp 1',
 'Rhopalodia spp.',
 'Saracenaria italica',
 'Schyphosphaera sp. 1',
 'Scyphosphaera apsteinii.',
 'Scyphosphaera cf. pacifica',
 'Scyphosphaera cf. queenslandensis',
 'Scyposphaera graphica',
 'Scyposphaera queenslandensis',
 'Selenopemphix quanta',
 'Shell (bivalve) fragments',
 'Shell (gastropod) fragments',
 'Shell (scaphopod) fragments',
 'Shell fragments',
 'Shrubs',
 'Sigmoilopsis',
 'Sigmoilopsis aff. compressa',
 'Sigmoilopsis aff.wanganuiensis',
 'Silicoflagellate Zone in Ling (1992)',
 'Siphonaperta',
 'Siphonaperta macbeathi',
 'Siphonodosaria antillea',
 'Siphonodosaria sp. indet.',
 'Siphonodosaria spinata',
 'Siphotextularia',
 'Siphotextularia subcylindrica',
 'Siphotexturalia wairoana',
 'Siphouvigerina',
 'Siphouvigerina canariensis',
 'Spharoidinellopsis disjuncta',
 'Sphenolithus aubryae',
 'Sphenolithus cf. abies',
 'Sphenolithus cf. belemnos',
 'Sphenolithus cf. delphix',
 'Sphenolithus cf. neoabies',
 'Sphenolithus compactus',
 'Sphenolithus hetermorphus',
 'Spheroidina bulloides',
 'Spheroidina bulloids',
 'Spiniferites belerius',
 'Spiniferites spp.',
 'Spiroloculina',
 'Spiroplectammina sp. A',
 'Spiroplectammina spectablis',
 'Spirosigmoillina compressa',
 'Spirosigmoilopsis tenuis',
 'Sponge spicules',
 'Spongodiscus sp. (Ling 1973)',
 'Spores (moss&fern)',
 'Spores of Pteridophytes',
 'Spores of Sphagnum',
 'Spores of pteridophytes',
 'Stainforthia aff. fusiformis',
 'Stauroneis spp.',
 'Stilostomella',
 'Subbotina eoceana',
 'Subbotina spp.',
 'Subreophax aduncus',
 'Synedra spp.',
 'Takayanagia delicata',
 'Tenuitella sp.',
 'Tenuitella spp.',
 'Tenuitellinata angustiumbilicata',
 'Tenuitutella spp.',
 'Tetracyclus spp.',
 'Textularia',
 'Textularia miozea',
 'Texturalia spp.',
 'Thalassionema nitzschoides',
 'Thalassiosira anguste-lineata',
 'Thalassiosira antarctica Spore',
 'Thalassiosira antarctica Spores',
 'Thalassiosira antarctica spore',
 'Thalassiosira antarctica spores',
 'Thalassiosira antrct-spore',
 'Thalassiosira cf. jacksonii',
 'Thalassiosira cf. leptopus',
 'Thalassiosira cf. usatschevii',
 'Thalassiosira latimarginata',
 'Thalassiosira latimarginata s.l.',
 'Thalassiosira latimarginata sl.',
 'Thalassiosira spp',
 'Thlalassiosira lucustris',
 'Tintinids',
 'Transversipontis pulcheroides',
 'Trees',
 'Trifarina',
 'Trifarina anglosa',
 'Triloculina',
 'Triloculina cf. trihedra',
 'Trinovantedinium variabile',
 'Trochamminas? sp.',
 'Trochamminoides? sp.',
 'Truncorotalia crassacarina',
 'Truncorotalia crassacarina (D)',
 'Truncorotalia crassacarina (S)',
 'Truncorotalia crassaformis (D)',
 'Truncorotalia crassaformis (S)',
 'Truncorotalia crassula (D)',
 'Truncorotalia crassula (S)',
 'Truncorotalia truncatulinoides (D)',
 'Truncorotalia truncatulinoides (S)',
 'Truncorotalia viola (D)',
 'Truncorotalia viola (S)',
 'Tube-shaped agglutinated form.',
 'Turborotalia increbescans',
 'Turborotalia spp.',
 'Turborotalita ciperoensis',
 'Turborotalita spp.',
 'Turrilina sp. indet.',
 'Umbilicosphaera cf. rotula',
 'Umbilicosphaera jafarii',
 'Undifferentiated agglutinate',
 'Uvigerina cf. peregrina',
 'Uvigerina peregrina pradyiana',
 'Uvigerina pliozea',
 'Uvigerina rodleyi',
 'Vaginulina',
 'Vaginulinopsis',
 'Valvalammina sp.',
 'Valvulina spinosa',
 'Velereninoides jeffreysii',
 'Veleronoides sp.',
 'Virgulopsis',
 'Virgulopsis petiae',
 'Virgulopsis turris',
 'Votadinium spinosum',
 'Vulvulina cf. granulosa',
 'Zeaglobierina connecta',
 'Zeaglobierina druryi',
 'Zeaglobierina euapertura',
 'Zeaglobierina nepenthes',
 'Zeaglobierina woodi',
 'Zeaglobigerina brevis',
 'Zone in Ling (1992)',
 'cf. Hytrichosphaeropsis obscura',
 'impagidinium japonicum',
 'ostracod',
 'small reticlofenestrids',
 'tabellaria spp.'}

### Create csv

Create a taxa list csv that contains all the taxon names and the associated taxon group.

In [49]:
taxa_and_group = set()


for index, row in metadata.iterrows():

    file =  clean_data_path/row['path']
    if '317_U1351_planktic_forams.csv' in str(path):
        header = 1
    else:
        header = 0
        
    df = pd.read_csv(file, dtype=str, header=header, nrows=0)
    
    for col in df.columns:
        if col in taxa_names:
            taxa_and_group.add(f'{col}|{row["taxon_group"]}')


len(taxa_and_group)

694

In [50]:
taxa_list = []

for taxon in taxa_and_group:
    if not pd.isna(taxon):
        taxon_name, taxon_group = taxon.split('|')
        
        taxon_name_parts = taxon_name_parser(taxon_name)

        data = { 
            'taxon_group': taxon_group, 
            'verbatim_name': taxon_name,
        }
        all_ranks =[
            'genus modifier', 'genus name', 'species modifier', 'species name', 
            'subspecies modifier', 'subspecies name', 'non-taxa descriptor'
        ]
        for rank in all_ranks:            
            if rank in taxon_name_parts:
                data[rank] = taxon_name_parts[rank]

        taxa_list.append(data)
        
len(taxa_list)

694

In [51]:
taxa_df = pd.DataFrame(taxa_list)
taxa_df.sort_values(['taxon_group', 'verbatim_name'], inplace=True)
taxa_df.head()

,taxon_group,verbatim_name,genus name,species name,subspecies name,non-taxa descriptor,species modifier,subspecies modifier,genus modifier
579,benthic_forams,Agglutinated Foram. gen. et sp. indet.,Agglutinated,Foram.,gen.,NaN,NaN,NaN,NaN
230,benthic_forams,Agglutinated indet.,Agglutinated,indet.,NaN,NaN,NaN,NaN,NaN
12,benthic_forams,Alabaminella weddelensis,Alabaminella,weddelensis,NaN,NaN,NaN,NaN,NaN
206,benthic_forams,Alabammina sp.,Alabammina,sp.,NaN,NaN,NaN,NaN,NaN
19,benthic_forams,Alabamminella weddelensis,Alabamminella,weddelensis,NaN,NaN,NaN,NaN,NaN

In [52]:
cols = [
'taxon_group',
'verbatim_name',
'genus name', 
'species name', 
'subspecies name',
'species modifier',
'non-taxa descriptor',
'subspecies modifier',  
'genus modifier',     
]

taxa_df = taxa_df.reindex(columns=cols)
taxa_df.head()

,taxon_group,verbatim_name,genus name,species name,subspecies name,species modifier,non-taxa descriptor,subspecies modifier,genus modifier
579,benthic_forams,Agglutinated Foram. gen. et sp. indet.,Agglutinated,Foram.,gen.,NaN,NaN,NaN,NaN
230,benthic_forams,Agglutinated indet.,Agglutinated,indet.,NaN,NaN,NaN,NaN,NaN
12,benthic_forams,Alabaminella weddelensis,Alabaminella,weddelensis,NaN,NaN,NaN,NaN,NaN
206,benthic_forams,Alabammina sp.,Alabammina,sp.,NaN,NaN,NaN,NaN,NaN
19,benthic_forams,Alabamminella weddelensis,Alabamminella,weddelensis,NaN,NaN,NaN,NaN,NaN

In [53]:
taxa_df.to_csv(taxa_file, index=False)

# add pbdb data

In [54]:
taxa_df = pd.read_csv(taxa_file, dtype=str)
log_df(taxa_df)

(694, 9)

,taxon_group,verbatim_name,genus name,species name,subspecies name,species modifier,non-taxa descriptor,subspecies modifier,genus modifier
0,benthic_forams,Agglutinated Foram. gen. et sp. indet.,Agglutinated,Foram.,gen.,NaN,NaN,NaN,NaN
1,benthic_forams,Agglutinated indet.,Agglutinated,indet.,NaN,NaN,NaN,NaN,NaN
2,benthic_forams,Alabaminella weddelensis,Alabaminella,weddelensis,NaN,NaN,NaN,NaN,NaN
3,benthic_forams,Alabammina sp.,Alabammina,sp.,NaN,NaN,NaN,NaN,NaN
4,benthic_forams,Alabamminella weddelensis,Alabamminella,weddelensis,NaN,NaN,NaN,NaN,NaN

In [57]:
genus_df = pd.DataFrame(taxa_df['genus name'].unique(), columns=['genus name'])

log_df(genus_df)

(334, 1)

      genus name
0   Agglutinated
1   Alabaminella
2     Alabammina
3  Alabamminella
4     Ammodiscus

In [59]:
for index, row in genus_df.iterrows():
    if 'pbdb_taxon_id' in row and pd.notna(row['pbdb_taxon_id']):
        continue
        
    time.sleep(0.5)
    
    if index % 50 == 0:
        print(index, end=' ')

        
    url =  PBDB_TAXA_NAME +  row['genus name']
        
    response = requests.get(url)
    
    if response.status_code == 200:
        data = response.json()["records"]
        if len(data) == 1:
            genus_df.at[index, f'pbdb_taxon_id'] = str(data[0]["taxon_no"])
            genus_df.at[index, f'pbdb_taxon_name'] = data[0]["taxon_name"]
            genus_df.at[index, f'pbdb_taxon_rank'] = data[0]["taxon_rank"]
            
            round = 0
            get_parent_taxa(genus_df, data[0]["parent_no"], data[0]["taxon_rank"], round, index, None)

0 50 100 150 200 250 300

In [60]:
log_df(genus_df)

(334, 16)

,genus name,pbdb_taxon_id,pbdb_taxon_name,pbdb_taxon_rank,family_taxon_id,family_taxon_name,phylum_taxon_id,phylum_taxon_name,kingdom_taxon_id,kingdom_taxon_name,order_taxon_id,order_taxon_name,class_taxon_id,class_taxon_name,unranked clade_taxon_id,unranked clade_taxon_name
0,Agglutinated,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabaminella,423746,Alabaminella,genus,241423,Eponididae,288974,Foraminifera,212476,Rhizaria,NaN,NaN,NaN,NaN,NaN,NaN
2,Alabammina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alabamminella,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ammodiscus,818,Ammodiscus,genus,112199,Ammodiscidae,288974,Foraminifera,212476,Rhizaria,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
cols = [
    'genus name','pbdb_taxon_id','pbdb_taxon_name',
    'pbdb_taxon_rank','family_taxon_id','family_taxon_name',
    'order_taxon_id','order_taxon_name','class_taxon_id',
    'class_taxon_name','phylum_taxon_id','phylum_taxon_name',
    'unranked clade_taxon_id','unranked clade_taxon_name',
    'kingdom_taxon_id','kingdom_taxon_name'   
]

genus_df = genus_df.reindex(columns=cols)
genus_df.head()

,genus name,pbdb_taxon_id,pbdb_taxon_name,pbdb_taxon_rank,family_taxon_id,family_taxon_name,order_taxon_id,order_taxon_name,class_taxon_id,class_taxon_name,phylum_taxon_id,phylum_taxon_name,unranked clade_taxon_id,unranked clade_taxon_name,kingdom_taxon_id,kingdom_taxon_name
0,Agglutinated,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabaminella,423746,Alabaminella,genus,241423,Eponididae,NaN,NaN,NaN,NaN,288974,Foraminifera,NaN,NaN,212476,Rhizaria
2,Alabammina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alabamminella,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ammodiscus,818,Ammodiscus,genus,112199,Ammodiscidae,NaN,NaN,NaN,NaN,288974,Foraminifera,NaN,NaN,212476,Rhizaria

In [73]:
genus_df.to_csv(genus_file, index=False)

## create taxa list with pbdb info for the PIs

In [74]:
genus_df = pd.read_csv(genus_file, dtype= str)
log_df(genus_df)

(334, 16)

,genus name,pbdb_taxon_id,pbdb_taxon_name,pbdb_taxon_rank,family_taxon_id,family_taxon_name,order_taxon_id,order_taxon_name,class_taxon_id,class_taxon_name,phylum_taxon_id,phylum_taxon_name,unranked clade_taxon_id,unranked clade_taxon_name,kingdom_taxon_id,kingdom_taxon_name
0,Agglutinated,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabaminella,423746,Alabaminella,genus,241423,Eponididae,NaN,NaN,NaN,NaN,288974,Foraminifera,NaN,NaN,212476,Rhizaria
2,Alabammina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alabamminella,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ammodiscus,818,Ammodiscus,genus,112199,Ammodiscidae,NaN,NaN,NaN,NaN,288974,Foraminifera,NaN,NaN,212476,Rhizaria

In [63]:
unapproved_df = pd.read_csv(taxa_file)

log_df(unapproved_df)

(694, 9)

,taxon_group,verbatim_name,genus name,species name,subspecies name,species modifier,non-taxa descriptor,subspecies modifier,genus modifier
0,benthic_forams,Agglutinated Foram. gen. et sp. indet.,Agglutinated,Foram.,gen.,NaN,NaN,NaN,NaN
1,benthic_forams,Agglutinated indet.,Agglutinated,indet.,NaN,NaN,NaN,NaN,NaN
2,benthic_forams,Alabaminella weddelensis,Alabaminella,weddelensis,NaN,NaN,NaN,NaN,NaN
3,benthic_forams,Alabammina sp.,Alabammina,sp.,NaN,NaN,NaN,NaN,NaN
4,benthic_forams,Alabamminella weddelensis,Alabamminella,weddelensis,NaN,NaN,NaN,NaN,NaN

In [64]:
merged_df = pd.merge(unapproved_df, genus_df, 
                     on = 'genus name', 
                     how='left',
                     indicator='_merge_pbdb')

log_df(merged_df)

(694, 25)

,taxon_group,verbatim_name,genus name,species name,subspecies name,species modifier,non-taxa descriptor,subspecies modifier,genus modifier,pbdb_taxon_id,...,phylum_taxon_name,kingdom_taxon_id,kingdom_taxon_name,order_taxon_id,order_taxon_name,class_taxon_id,class_taxon_name,unranked clade_taxon_id,unranked clade_taxon_name,_merge_pbdb
0,benthic_forams,Agglutinated Foram. gen. et sp. indet.,Agglutinated,Foram.,gen.,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
1,benthic_forams,Agglutinated indet.,Agglutinated,indet.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
2,benthic_forams,Alabaminella weddelensis,Alabaminella,weddelensis,NaN,NaN,NaN,NaN,NaN,423746,...,Foraminifera,212476,Rhizaria,NaN,NaN,NaN,NaN,NaN,NaN,both
3,benthic_forams,Alabammina sp.,Alabammina,sp.,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
4,benthic_forams,Alabamminella weddelensis,Alabamminella,weddelensis,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both

In [82]:
merged_df['name'] = np.nan
merged_df['Comment'] = np.nan
merged_df['Notes (change to Internal only notes?)'] = np.nan
merged_df['Any taxon above genus'] = np.nan
merged_df['subgenera modifier'] = np.nan
merged_df['subgenera name'] = np.nan
merged_df['comments'] = np.nan
# merged_df['Corrections to pbdb_taxon_id'] = np.nan

In [83]:
merged_df.columns

Index(['taxon_group', 'verbatim_name', 'name', 'Comment',
       'Notes (change to Internal only notes?)', 'Any taxon above genus',
       'genus modifier', 'genus name', 'subgenera modifier', 'subgenera name',
       'species modifier', 'species name', 'subspecies modifier',
       'subspecies name', 'non-taxa descriptor', 'comments', 'pbdb_taxon_id',
       'Corrections to pbdb_taxon_id', 'pbdb_taxon_name', 'pbdb_taxon_rank',
       'family_taxon_id', 'family_taxon_name', 'order_taxon_id',
       'order_taxon_name', 'class_taxon_id', 'class_taxon_name',
       'phylum_taxon_id', 'phylum_taxon_name', 'kingdom_taxon_id',
       'kingdom_taxon_name', 'unranked clade_taxon_id',
       'unranked clade_taxon_name'],
      dtype='object')

In [84]:
merged_df = merged_df.reindex(columns=[
    'taxon_group', 'verbatim_name',  'name',
    'Comment', 'Notes (change to Internal only notes?)',
    'Any taxon above genus', 
    'genus modifier', 'genus name', 
    'subgenera modifier','subgenera name', 
    'species modifier',  'species name',
    'subspecies modifier', 'subspecies name',
    'non-taxa descriptor', 
    'comments',
    'pbdb_taxon_id', 
    # 'Corrections to pbdb_taxon_id',
    'pbdb_taxon_name','pbdb_taxon_rank', 
    'family_taxon_id', 'family_taxon_name',
    'order_taxon_id', 'order_taxon_name', 
    'class_taxon_id', 'class_taxon_name', 
    'phylum_taxon_id', 'phylum_taxon_name',
    'kingdom_taxon_id', 'kingdom_taxon_name', 
    'unranked clade_taxon_id', 'unranked clade_taxon_name',

])


merged_df.sort_values(by=['taxon_group', 'verbatim_name'], inplace=True)

log_df(merged_df)

(694, 31)

,taxon_group,verbatim_name,name,Comment,Notes (change to Internal only notes?),Any taxon above genus,genus modifier,genus name,subgenera modifier,subgenera name,...,order_taxon_id,order_taxon_name,class_taxon_id,class_taxon_name,phylum_taxon_id,phylum_taxon_name,kingdom_taxon_id,kingdom_taxon_name,unranked clade_taxon_id,unranked clade_taxon_name
0,benthic_forams,Agglutinated Foram. gen. et sp. indet.,NaN,NaN,NaN,NaN,NaN,Agglutinated,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,benthic_forams,Agglutinated indet.,NaN,NaN,NaN,NaN,NaN,Agglutinated,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,benthic_forams,Alabaminella weddelensis,NaN,NaN,NaN,NaN,NaN,Alabaminella,NaN,NaN,...,NaN,NaN,NaN,NaN,288974,Foraminifera,212476,Rhizaria,NaN,NaN
3,benthic_forams,Alabammina sp.,NaN,NaN,NaN,NaN,NaN,Alabammina,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,benthic_forams,Alabamminella weddelensis,NaN,NaN,NaN,NaN,NaN,Alabamminella,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
merged_df[merged_df['pbdb_taxon_id'].notna()].shape

(550, 31)

In [86]:
merged_df[merged_df['pbdb_taxon_id'].isna()].shape

(144, 31)

In [87]:
merged_df.shape

(694, 31)

In [88]:
merged_df.to_csv(taxa_pbdb_file, index=False)

# create csv of genus that are only a letter

In [ ]:
taxa_df = pd.read_csv(taxa_file, dtype=str)
log_df(taxa_df)

In [ ]:
letter_genus = taxa_df[(taxa_df['genus name'].str.endswith('.'))]
letter_genus = letter_genus[['taxon_group','verbatim_name', 'genus name']]
log_df(letter_genus)

In [ ]:
letter_genus.to_csv(genus_letter_file, index=False)