# QA NOAA Janus files
## 101-126 lithology

Get basic metadata (file names, column names) about NOAA Janus dataset. Create csv that lists all the files.

NOAA_csv/Janus_core_data  
expedition 101-126  
lithology

In [1]:
import sys
sys.path.append('../../')
import glob
from pathlib import Path
import os

import pandas as pd

from scripts.normalize_noaa_files import (
    unique_filenames_for_paths,
    unique_columns_for_paths,
    filename_index,
    format_filepaths_set
)
from config import OUTPUT_DIR, CLEAN_DATA_DIR, RAW_DATA_DIR

In [2]:
base_dir = CLEAN_DATA_DIR
data_dir = base_dir/'NOAA'/'Janus_core_data'
metadata_path = OUTPUT_DIR/'metadata'/'NOAA'/'noaa_janus_files.csv'

In [3]:
csv_paths = list(data_dir.glob("**/*.csv"))
print('files', len(csv_paths))

files 325

## unique file names

Get all the file names.

In [4]:
files = unique_filenames_for_paths(csv_paths)
list(files)[0:15]

['sed_lith_107_654a_delimited_pre-janus.csv',
 'sed_lith_120_750a_delimited_pre-janus.csv',
 'sed_lith_117_725a_delimited_pre-janus.csv',
 'sed_lith_101_633a_delimited_pre-janus.csv',
 'sed_lith_119_739a_delimited_pre-janus.csv',
 'sed_lith_115_712a_delimited_pre-janus.csv',
 'sed_lith_115_710a_delimited_pre-janus.csv',
 'sed_lith_120_747c_delimited_pre-janus.csv',
 'sed_lith_115_709c_delimited_pre-janus.csv',
 'sed_lith_123_766a_delimited_pre-janus.csv',
 'sed_lith_110_675a_delimited_pre-janus.csv',
 'sed_lith_122_760a_delimited_pre-janus.csv',
 'sed_lith_108_667b_delimited_pre-janus.csv',
 'sed_lith_108_657a_delimited_pre-janus.csv',
 'sed_lith_108_668b_delimited_pre-janus.csv']

## file list

Create csv that lists all the files for this dataset.

In [7]:
file_list = []

index = filename_index(csv_paths[0])

for path in csv_paths:
    file_data = {}
    relative_path = path.relative_to(base_dir)
    path_parts = relative_path.parts
    filename = relative_path.name 
    
    file_data['path'] = relative_path
    
    file_data['type'] = 'lithology'
    file_data['expedition'] =  path_parts[2]
    file_data['site'] =  path_parts[3]
    
    
    file_list.append(file_data)

In [10]:
df = pd.DataFrame(file_list)
df = df.sort_values(by=['expedition', 'site', 'type'])
df.head()

,path,type,expedition,site
165,NOAA/Janus_core_data/101/626a/sed_lith_101_626...,lithology,101,626a
173,NOAA/Janus_core_data/101/626b/sed_lith_101_626...,lithology,101,626b
176,NOAA/Janus_core_data/101/626c/sed_lith_101_626...,lithology,101,626c
175,NOAA/Janus_core_data/101/626d/sed_lith_101_626...,lithology,101,626d
166,NOAA/Janus_core_data/101/627a/sed_lith_101_627...,lithology,101,627a

In [11]:
df.to_csv(metadata_path, index=False)

## column names

Get all the column names.

In [8]:
def column_counts_for_paths(paths):
    counts = set()
    for path in paths:
        df = pd.read_csv(path, nrows=0)
        counts.add(len(df.columns))
    
    return counts

In [9]:
unique_columns_for_paths(csv_paths)

{'Unnamed: 30',
 'Unnamed: 31',
 'Unnamed: 32',
 'Unnamed: 33',
 'Unnamed: 34',
 'bottom interval',
 'bottom interval depth below sea floor',
 'code',
 'color',
 'color number',
 'core',
 'coretype',
 'depth',
 'drilling deformities',
 'hole',
 'induration',
 'latitude',
 'leg',
 'lithology',
 'longitude',
 'minerals',
 'more data available',
 'observer',
 'other',
 'paleontology',
 'piece number bottom',
 'piece number top',
 'section',
 'site',
 'structures',
 'sub piece bottom',
 'sub piece top',
 'top interval',
 'top interval depth below sea floor',
 'unusual occurrences'}

In [10]:
column_counts_for_paths(csv_paths)

{30, 35}

print out files that have too many columns

In [11]:
for path in csv_paths:
    df = pd.read_csv(path, nrows=0)
    if len(df.columns) == 35:
        print(path)

cleaned_data/NOAA_csv/Janus_core_data/110/674a/sed_lith_110_674a_delimited_pre-janus.csv

## check minerals, paleontology, structures, unusual occurrences values

In [12]:
def unique_values(series):
    return list(series.dropna().unique())

In [13]:
path = csv_paths[0]
print(path)
df = pd.read_csv(path)

cleaned_data/NOAA_csv/Janus_core_data/104/642b/sed_lith_104_642b_delimited_pre-janus.csv

In [14]:
unique_values(df['minerals'])

['fe/mn laminae',
 'fe dots (~57 cm); pyrite in burrows(8-16 cm)',
 'crystalline fragment dropstones',
 'pyrite in burrows',
 'pyrite (?) in mottling',
 'pyrite in mottling',
 'pyrite pockets',
 'pyrite in sandy zone(~134 cm);pyrite & volcanic ash(132 cm)',
 'volcanic ash? pocket (17 cm)',
 'pyrite infilled pores (?)',
 'pyrite in burrows (96 cm)',
 'pyrite in sandy patches (11, 15-17 cm)',
 'pyrite sandy patches (110-113, 127-131 cm)',
 'pyrite in burrows (123-126 cm)',
 'pyrite in burrow (~86 cm)',
 'pyrite in burrows (127 cm)',
 'pyrite in burrows (124-132, 138 cm)',
 'pyrite in burrows; volcanic ash (96-98,103 cm)',
 'pyrite in burrows, pyrite in color bands',
 'nannos',
 'volcanic ash (120-122 cm)',
 'pyrite concretion (50 cm)',
 'pyrite in burrows (0-89 cm)',
 'pyrite concretions (90, 110 cm)',
 'pyrite impregnation along burrows(0-76 cm)',
 'pyrite in burrows (50-150 cm)',
 'pyrite impregnations (11-150 cm)',
 'pyrite impregnations and concretion (111 cm)',
 'pyrite concretion (64 cm); volcanic ash (80-90 cm)',
 'pyrite in burrows and concretions (1-4 cm)',
 'pyrite in concretion and adjacent pyrite sand',
 'pyrite (?) in sandy pocket (60 cm)',
 'volcanic ash',
 'rock fragment (10-12 cm)',
 'pyrite concretion and pyrite sands = volcanic ash(102-104cm)',
 'pyrite in sandy pockets (130, 144 cm)',
 'volcanic ash layers (23-39, 110-113 cm)',
 'pyrite lens (35 cm)',
 'volcanic ash ? (53-56, 112-114 cm)',
 'volcanic ash pocket (25-26 cm)',
 'basaltic glass? (81-83, 142-145 cm)',
 'basaltic glass? (94-98 cm)',
 'pyrite filled pockets (7, 10 cm)',
 'volcanic ash (partially disseminated)',
 'basaltic glass? (57,72cm)',
 'volcanic ash pockets (121, 124 cm)',
 'volcanic ash (74, 138-143 cm)',
 'possibly disseminated, altered basaltic ash (117-123 cm)',
 'possibly disseminsated basaltic ash (54-66 cm)',
 'possibly disseminated basaltic ash (98, 102-105, 140-145cm)',
 'balsaltic ash (43 cm)',
 'basaltic ash',
 'possibly disseminated, altered basaltic glass (135-140 cm)']

In [15]:
unique_values(df['paleontology'])

['forams',
 'nanno',
 'nannos',
 'forams (100-120 cm)',
 'forams (0-122 cm)',
 'forams in sandy patches (135-145 cm)',
 'forams (130-150 cm)',
 'zoophycos trace fossil',
 'nanno, mollusc fragments (11 cm)',
 'nannos; forams',
 'forams visible',
 'forams (88-102 cm)',
 'visible forams (0-120 cm)',
 'diatoms',
 'forams (50 cm ?), diatoms']

In [16]:
unique_values(df['structures'])[0:30]

['grayish color mottling (~27-30 cm);mottling(38-41 cm); minor bioturbation (38-41 cm)',
 'parallel laminae',
 'fine brownish laminae (~142-145 cm), dropstones',
 'moderate bioturbation/pyritized burrows (~114-117 cm), dropstone (~115cm)',
 'pyritized burrows/moderate bioturbation (8-16 cm)',
 'heavy bioturbation(144-150cm);2 mm burrows (144-150 cm); cross-stratification(138-144cm), dropstones (131, 139 cm)',
 'moderate bioturbation',
 'moderate (80-93 cm) to heavy (96-100 cm) bioturbation; large granite dropstones (~116cm)',
 'parallel laminae (119-127 cm), dropstones, small (119-127 cm), large (132 cm)',
 'laminae',
 'dropstones (~67,93,122cm), minor bioturbation (45-100 cm)',
 'dropstone? (~136 cm)',
 'minor bioturbation (14-55 cm)',
 'scattered dropstones (105-110 cm, 136-141 cm)',
 'black mottling/minor bioturbation (8-37 cm); faint laminae below 30 cm',
 'dropstones, 5y 3/2 mottling(47-64 cm); mottling(64-80, 80-110 cm)',
 'faint black mottling; minor bioturbation, dropstones',
 'black mottling (131-138 cm)',
 'mottling (22-26 cm)',
 'very dark gray to black mottling, minor bioturbation',
 'mottling, dropstones (sand-sized 0-4cm); 1 cm at 44, 53 cm)',
 'dropstones, clay (53-60 cm), 2-5 mm at 91, 96, 107 cm',
 'mottling (113-148 cm), dropstones (138, 146-147 cm)',
 'mottling (0-20, 31-35 cm), heavy bioturbation (31-35 cm), minor bioturbation (0-20 cm); dropstone (16-17 cm)',
 'mottling; weak horizontal layering, dropstones',
 'interbeding (<1 cm thick)',
 'black and dark olive green mottling, moderate bioturbation',
 'black mottling',
 'mottling(0-10,21-100cm);laminae(10-21cm);minor(0-10,21-100,116-119cm)to moderate (105-109cm) bioturbation',
 'black mottling (100-105 cm); gray mottling (105-109 cm)']

In [17]:
unique_values(df['unusual occurrences'])

['small dropstones (8-100 cm)',
 'pebbles (17-19 cm)',
 'volcanic ash layer (~132 cm)',
 'mud pebbles (149 cm)',
 'soft mud pebbles',
 'reworked very dark gray mud pebbles (especially 110, 120 cm)',
 'large mud pebbles (70-75cm)',
 'pyrite concretion (50 cm) along large burrows',
 'pyrite concretions (90, 110 cm)',
 'pyrite concretion (111 cm)',
 'pyrite concretion (64 cm)',
 'pyrite concretions (1-4 cm)',
 'pyrite concretion (132 cm)',
 'pyrite concretion(102-104 cm)',
 'pebbles/crs sand (100-115 cm) (dropstones ?)']